.element__block {
	margin: 21px 15px 0 21px;
	max-height: 23px;
	max-width: 246px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: flex-end;
}