.profile__info {
	margin-top: 22px;
	margin-left: 30px;
	max-width: 336px;
	display: flex;
	flex-direction: column;
	/* display: grid;
	grid-template-columns: 294px 24px;
	gap: 16px 18px; */
}

@media screen and (max-width: 750px) {
	.profile__info {
		/* grid-template-columns: 189px 18px;
		
		gap: 14px 10px; */
		margin-left: 0;
		margin-top: 26px;
	}
}