.element__like_active {
	background-image: url(../../../../images/like_active.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #fff;
	border: 0;
	width: 22px;
	height: 19px;
	align-self: end;
	cursor: pointer;
}