.popup__field {
	margin: 0;
	margin-bottom: 13px;
	width: 358px;
	height: 16px;
	border: 0;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}